<footer class="bg-light">
    <div class="container pb-4">
        <div class="row g-5">
            <div class="col-md-4">
                <p class="fw-bold">
                    Hope you enjoy using it.
                </p>
                <i class="bi bi-instagram fs-2"></i>
                <i class="bi bi-telegram fs-2 mx-3"></i>
                <i class="bi bi-facebook fs-2 me-3"></i>
                <i class="bi bi-linkedin fs-2"></i>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</footer>